<!DOCTYPE html>
<html>
<div class="topnav">

</div>
<head>
<link rel="stylesheet" type="text/css" href="/style.css"> 
<style>
/* https://coolors.co/8f2a2b-a8763e-f7f3e3-ecf0f1-2b2118 */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #F7F3E3;
}

.topnav {
  overflow: hidden;
  background-color: #2B2118; /*raisin black*/
}

.topnav a {
  float: left;
  color: #F7F3E3; /*anti flash white */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F7F3E3; /* anti flash white*/
  color: black;
}

.topnav a.active {
  background-color: #A8763E; /*metallic sunset*/
  color: #ECF0F1;  /*Home text colout*/
}
</style>
</head>
<body>

<div class="topnav">
<table border = "0">
    <td><a href="/">| Home |</a></td> 
    <td><a href="/equipment/v60">| V60 |</a></td> 
    <td><a href="/equipment/chemex">| Chemex |</a></td>
    <td><a href="/equipment/frenchpress">| French Press |</a></td>
    <td><a href="/equipment/aeropress">| Aeropress |</a></td> 
    <td><a href="/equipment/kalitawave">| Kalita Wave |</a></td> 
    <td><a href="/equipment/coldbrew">| Cold Brew |</a></td>
<tr>
    <td><a href="/patrons"> Patrons (<%= @patrons.length %>)</a></td>
    <td><a href="/recipes"> Recipes (<%= @recipes.length %>)</a></td>
    <td><a href="/reviews"> Reviews (<%= @reviews.length %>)</a></td>
    </tr>
</table>
</div>
</body>
  <%= yield %>
  </section>
</main>
</head>
</html>
