<h1> Welcome to Patron viewer <h1>
<h4> 
<% for patron in @patrons %>
<p>Patron: <%= patron.username %> : <%= patron.bio %> </p>
<% end%>
</h4>
<h4>
<% for recipe in @recipes %>
<p>Recipe: <%= pp recipe.id  %> </p>
<% end%>
</h4>
<h1>
<% pp @recipes %>
</h1>