<!DOCTYPE html>
<html>
   <head>
    <body>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <%# <img src="https://financialtribune.com/sites/default/files/field/image/17january/04-ff-coffee_120-ab.jpg"> %>
        <img src="http://purecoffees.com/wp-content/uploads/2017/09/pexels-photo-531754.jpeg">
        <h4> Welcome to Default Coffee straight flat index.erb <h4>
    </body>
    </html>
