<h1> Welcome to Reviews viewer in reviews/index.erb <h1>
<a href="/">Home</a>

<h4>
<% for review in @reviews %>
<table>
<tr>
<td>Rating:-</td>
<td> <%= review.bean_rating %> </td>
<td>Review:-</td>
<td> <%= review.review %> </td>
</table>
<% end%>
</h4>
