<h1> Welcome to Reviews viewer in reviews/index.erb </h1>


<% for review in @reviews %>
<table>
<tr><td>Review id: <%=review.id%></td>
<tr>
<td><%=review.review%></td></tr>  
<td>Rating <%=review.bean_rating%></td>
</table><br>
<% end%>

