<h1>New Review Page </h1>
<p>
<form action="/reviews"method="POST" >

<fieldset>
<legend> Add Review Form</legend>

    <label for="review-name">Review</label>
    <input type="text" id="review-name" name="review" placeholder="Enter your review" />
    <br>
    <label for="bean_rating">Rating</label>
    <input type="text" id="bean" name="bean_rating" placeholder="Rating */5" />
    <button type ="submit">Create New review</button>
    <label for="id">Id</label>
    <input type="number" id="id" name="id" />
    <button type ="submit">Create New review</button>

</fieldset>
</p>