<h4>Patron by id views/patron/edit.erb</h4>

<form method="POST" action="/patrons/<%=@patrons.id %>"> 
<fieldset>
<legend> Patron Form '<%= @patrons.username %>'</legend>
    <label for="patron-name">Patron name</label>
        <input type="text" id="patron-name" name="username" placeholder="Enter your name" />
    <br>
        <label for="bio">Biography</label>
            <input type="text" id="bio" name="bio" placeholder="Biography" />
        <input type ="submit">Save Edit</button>
</fieldset>