<h1> Welcome to Patron viewer in views/index.erb <h1>
<a href="/">Home</a>
<h4> 

<% for patron in @patrons %>
<table>
<tr><td>Patron id: <%=patron.id%></td>
<tr>
<td>Name: <%=patron.username%></td>
<tr>
<td>Bio:  <%=patron.bio%></td>
</table><br>
<% end%>
</h4>