<h1> Welcome to Patron viewer in views/index.erb <h1>


<% for patron in @patrons %>
<table>
    <tr><td>Name: <%= patron.username %></td></tr>
    <tr><td>Bio:  <%=patron.bio%></td></tr>
    <tr><td><a href="/patrons/<%= patron.id %>">SELECT</a></td></tr>
</table>
<% end%>


