<h1> Welcome to Patron viewer in patrons/index.erb <h1>
<a href="/patrons/new">NEW</a>

<% for patron in @patrons %>
<table>
    <tr><td>Name: <%= patron.username %></td></tr>
    <tr><td>Bio:  <%=patron.bio%></td></tr>
    <tr><td><a href="/patrons/<%= patron.id %>">SELECT</a></td></tr>
</table>
<% end%>


