<h4> Welcome to Patron viewer in patrons/index.erb </h4>
<fieldset>
<legend><h3> Create A New Patron</h3> </legend>
<button><h3><a href="/patrons/new">NEW</a></h3></button><br>
</fieldset>
<fieldset>
<legend><h2>Current Patron's </h2></legend>

<% for patron in @patrons %>
<fieldset>
<table >
    <tr><td>Name: <%= patron.username %></td></tr>
    <tr><td align="left">Bio:  <%=patron.bio%></td></tr>
    <tr><td><button><a href="/patrons/<%= patron.id %>">SELECT</a></button></td></tr>
</table>
</fieldset>
<br>
<% end%>


