<h1>Patron by id views/patron/show.erb</h1>

<p> Show Patron id: <%=@patrons.id%> </p>
<p> Show Patron username: <%=@patrons.username%> </p>
<p> Show Patron bio: <%=@patrons.bio%> </p>
<a href="/patrons/<%= @patrons.id %>/edit">EDIT</a>