<h4> Welcome to Patron viewer in patrons/index.erb </h4>
<fieldset>
<legend><h3> Create A New Patron</h3> </legend>
<button><h3><a href="/patrons/new">Create New Patron</a></h3></button><br>
</fieldset>

<fieldset>
<legend><h2>Current Patron's </h2></legend>
<% for patron in @patrons %>
<fieldset>
<table  border = "0">
    <tr>
    <td align="left" width = "100">Name: </td>
    <td align="left" width = "500"><%= patron.username %> 
    </tr>
    <tr><td align="left" width = "100">Bio: </td>
    <td align="left" width = "500"> <%= patron.bio %> 
    </tr>
    </table border = "0">
    <table>
    <tr><td align="left" ><button><a href="/patrons/<%= patron.id %>">View Details</a></button></td></tr>
</table>
</fieldset>
<br>
<% end%>


