<h1>New Patron Page </h1>
<p>
<form action="/patrons"method="POST" >
    <fieldset>
        <legend><h3> Patron Form</h3></legend>
            <label for="patron-name">Patron name</label>
            <input type="text" id="patron-name" name="username" placeholder="Enter your name" />
        <br>
            <label for="bio">Biography</label>
            <input type="text" id="bio" name="bio" placeholder="Biography" size = "100" />
        <br>
            <button type ="submit">Create New Patron</button>
    </fieldset>
<p>